.repo-content {
  width: 100%;
  text-align: center;
  padding: 30px;
  .repo-icon {
    width: 70px;
    height: 70px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .repo-title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: white;
    border-radius: 3px;
    width: 300px;
    padding: 5px;
    border: 1px solid var(--main-color);
  }

  .repo-author {
    font-size: 17px;
    width: 30%;
    margin: 0 auto;
  }
  .repo-updated {
    font-size: 15px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    color: rgb(114, 114, 114);
  }
  .package-list {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    .package-title {
      font-size: 20px;
      color: var(--main-color);
    }
    .package-name {
      border: 1px solid grey;
      display: inline-block;
      font-size: 12px;
      height: 32px;
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: var(--main-color);
        color: white;
        border-color: var(--main-color);
      }
    }
  }
  @media screen and (max-width: 700px) {
    .package-list {
      width: 100%;
    }
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, -0px);
  }
}
