.repo-content {
  width: 100%;
  text-align: center;
  padding: 30px;
  .repo-icon {
    width: 70px;
    height: 70px;
    margin: 30px 0;
    border-radius: 5px;
  }

  .repo-title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    width: 300px;
    padding: 5px;
    border: 1px solid var(--main-color);
  }

  .repo-author {
    font-size: 17px;
    width: 30%;
    margin: 0 auto;
  }
  .repo-updated {
    font-size: 15px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    color: rgb(114, 114, 114);
  }
  .list-header {
    margin-top: 30px;
    .package-list-type {
      font-size: 25px;
      color: var(--main-color);
    }
    .ant-switch {
      margin-left: 65%;
    }
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, -0px);
  }
}
