.layout {
  min-height: 100vh !important;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    .logout-button {
      margin-left: 45%;
    }
  }
  @media screen and (max-width: 350px) {
    .logout-button {
      margin-left: 35%;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
